@model IEnumerable<MovieTicket.Models.Phim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
<form class="navbar-left-right">
    @using (Html.BeginForm("Index", "Phims", FormMethod.Get))
    {
        <p>
            <!--@Html.TextBox("SearchString", ViewBag.CurrentFilter as string)-->
            @Html.TextBox("SearchString", "Tìm theo tên phim", ViewBag.CurrentFilter as string, new {  @autocomplete = "off", @placeholder = "Tìm phim..."})
            <input type="submit" value="" class="fa fa-search">
        </p>
    }
</form>
        @*<input type="text" value="Search..." onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Search...';}" />
        <input type="submit" value="" class="fa fa-search">*@
    
<br/>
<br/>
<p>
    @Html.ActionLink(" Thêm phim", "Create", "", htmlAttributes: new { @class = "fa fa-plus-circle create" })
</p>
<table class="table" style="table-layout: fixed; width:100%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.daodien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenphim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaykhoichieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngayketthuc)
        </th>
        @*<th>
            Mô tả
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.hinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nhasanxuat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thoiluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trailer)
        </th>
        @*<th>
            Tên thể loại
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.daodien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenphim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngaykhoichieu.Day)-@Html.DisplayFor(modelItem => item.ngaykhoichieu.Month)-@Html.DisplayFor(modelItem => item.ngaykhoichieu.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngayketthuc.Day)-@Html.DisplayFor(modelItem => item.ngayketthuc.Month)-@Html.DisplayFor(modelItem => item.ngayketthuc.Year)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.mota)
            </td>*@
            <td style="word-wrap:break-word">
                @Html.DisplayFor(modelItem => item.hinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nhasanxuat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.thoiluong)
            </td>
            <td style="word-wrap:break-word">
                @Html.DisplayFor(modelItem => item.trailer)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.TheLoai.tentheloai)
            </td>*@
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.maphim }, new { @class = "fa fa-edit option" }) | 
                @Html.ActionLink(" ", "Details", new { id = item.maphim }, new { @class = "fa fa-info-circle option" }) @*|
                @Html.ActionLink("Delete", "Delete", new { id = item.maphim })*@
            </td>
        </tr>
    }

</table>