@model PagedList.IPagedList<MovieTicket.Models.Phim>

@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
<form class="navbar-left-right">
    @using (Html.BeginForm("Index", "Phims", FormMethod.Get))
    {
        <p>
            <!--@Html.TextBox("SearchString", ViewBag.CurrentFilter as string)-->
            @Html.TextBox("SearchString", "Tìm theo tên phim", ViewBag.CurrentFilter as string, new {@value="Tìm theo tên phim", @onfocus = "this.value='';", @onblur = "if (this.value == '') {this.value = 'Tìm theo tên phim';}" })
            <input type="submit" value="" class="fa fa-search">
        </p>
    }
</form>
<!--        <input type="text" value="Search..." onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Search...';}" />
        <input type="submit" value="" class="fa fa-search">
    -->
<br/>
<br/>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="table-layout: fixed; width:100%">
    <tr>
        <th>
            Đạo diễn
        </th>
        <th>
            @Html.ActionLink("Tên phim","Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }, new { @style = "color:#777" })
        </th>
        <th>
            @Html.ActionLink("Ngày khởi chiếu", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter }, new { @style = "color:#777" })
        </th>
        <th>
            Ngày kết thúc
        </th>
        <th>
            Mô tả
        </th>
        <th>
            Hình
        </th>
        <th>
            Nhà sản xuất
        </th>
        <th>
            Thời lượng
        </th>
        <th>
            Trailer
        </th>
        <th>
            Tên thể loại
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.daodien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenphim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngaykhoichieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngayketthuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mota)
            </td>
            <td style="word-wrap:break-word">
                @Html.DisplayFor(modelItem => item.hinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nhasanxuat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.thoiluong)
            </td>
            <td  style="word-wrap:break-word">
                @Html.DisplayFor(modelItem => item.trailer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheLoai.tentheloai)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.maphim }) |
                @Html.ActionLink("Details", "Details", new { id = item.maphim }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.maphim })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))