@model MovieTicket.Models.PhongChieu

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PhongChieu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenphong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenphong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soghebandau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soghebandau)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(" Trở về danh sách", "Index", "", htmlAttributes: new { @class = "fa fa-arrow-circle-left create" })
    @Html.ActionLink(" Chỉnh sửa", "Edit", new { id = Model.maphong }, htmlAttributes: new { @class = "fa fa-pencil-square-o create" }) 
</p>
