@model IEnumerable<MovieTicket.Models.PhongChieu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink(" Thêm phòng chiếu", "Create", "", htmlAttributes: new { @class = "fa fa-plus-circle create" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenphong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soghebandau)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenphong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soghebandau)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.maphong }, new { @class = "fa fa-edit option" }) |
            @Html.ActionLink(" ", "Details", new { id = item.maphong}, new { @class = "fa fa-info-circle option" }) @*|
            @Html.ActionLink("Delete", "Delete", new { id=item.maphong })*@
        </td>
    </tr>
}

</table>
