@model MovieTicket.Models.KhuyenMai

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KhuyenMai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ngaybatdau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaybatdau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayketthuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayketthuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giatri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giatri)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.makm }) |
    @Html.ActionLink("Back to List", "Index")
</p>
