@model MovieTicket.Models.KhuyenMai

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KhuyenMai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ngaybatdau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaybatdau.Day)-@Html.DisplayFor(model => model.ngaybatdau.Month)-@Html.DisplayFor(model => model.ngaybatdau.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayketthuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayketthuc.Day)-@Html.DisplayFor(model => model.ngayketthuc.Month)-@Html.DisplayFor(model => model.ngayketthuc.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.giatri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giatri)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(" Trở về danh sách", "Index", "", htmlAttributes: new { @class = "fa fa-arrow-circle-left create" })
    @Html.ActionLink(" Chỉnh sửa", "Edit", new { id = Model.makm }, htmlAttributes: new { @class = "fa fa-pencil-square-o create" })
    
</p>
