@model IEnumerable<MovieTicket.Models.Phim>
@using MovieTicket.Models
@{
    ViewBag.Title = "Index";
    Layout =  "~/Views/Shared/_LayoutVideos.cshtml";

}

<div class="right-content" >
    <div class="right-content-heading">
        <div class="right-content-heading-left">
            <h3 class="head">Latest Colletcion of videos</h3>
        </div>
        <form class="search v-search">
            @using (Html.BeginForm("Index", "Phims", FormMethod.Get))
            {
                <p>
                    
                    @Html.TextBox("SearchString","", ViewBag.CurrentFilter as string, new { @autocomplete = "off", @placeholder = "Tìm phim..." })
                    <input type="submit" value="" class="">
                </p>
            }
        </form>
      
        </div>
        <br />
    <div class="content-grids">
        @{ int i = 1;}
            @{ foreach (var video in Model)
            {
                if (i % 4 == 0)
                {
                    <div class="content-grid last-grid">
                        @{string imagePath = Url.Content(video.hinh);}
                        <a class="play-icon" href="~/MovieInfo/Index/@video.maphim"><img src=@imagePath width=227 height=380 title="@video.tenphim" /></a>
                        <h3>@video.tenphim</h3>
                        <ul>
                            <li><a href="#"><img src="~/images/likes.png" title="image-name" /></a></li>
                            <li><a href="#"><img src="~/images/views.png" title="image-name" /></a></li>
                            <li><a href="#"><img src="~/images/link.png" title="image-name" /></a></li>
                        </ul>
                        @*<a class="button play-icon popup-with-zoom-anim" href="~/MovieInfo/Index/@video.maphim">Watch now</a>*@
                        <a class="button play-icon popup-with-zoom-anim" href="#small-dialog-@video.maphim">Trailer</a>
                        <div id="small-dialog-@video.maphim" class="mfp-hide">
                            <iframe src="@video.trailer" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    i++;
                }
                else
                {
                    <div class="content-grid">
                    @{string imagePath = Url.Content(video.hinh);}
                     <a class="play-icon" href="~/MovieInfo/Index/@video.maphim"><img src=@imagePath width=227 height=380 title="@video.tenphim" /></a>
        <h3>@video.tenphim</h3>
        <ul>
            <li><a href="#"><img src="~/images/likes.png" title="image-name" /></a></li>
            <li><a href="#"><img src="~/images/views.png" title="image-name" /></a></li>
            <li><a href="#"><img src="~/images/link.png" title="image-name" /></a></li>
        </ul>
                        @*<a class="button play-icon popup-with-zoom-anim" href="~/MovieInfo/Index/@video.maphim">Watch now</a>*@
                        <a class="button play-icon popup-with-zoom-anim" href="#small-dialog-@video.maphim">Trailer</a>
                        <div id="small-dialog-@video.maphim" class="mfp-hide">
                            <iframe src="@video.trailer" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>}
                i++;
            }
        }
        
        <!-- pop-up-box -->
        <link href="~/Content/popuo-box.css" rel="stylesheet" />
        <script src="~/Scripts/jquery.magnific-popup.js"></script>
        <script>
				$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
				});
				});

        </script>
        <!--//pop-up-box -->
        <!---start-pagenation----->
        <div class="pagenation">
            
        </div>
        <div class="clearfix"> </div>
        <!---End-pagenation----->
        
    </div>
</div>

