@model IEnumerable<MovieTicket.Models.SuatChieu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink(" Thêm suất chiếu", "Create", "", htmlAttributes: new { @class = "fa fa-plus-circle create" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.giochieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gioketthuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaychieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soghecontrong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhongChieu.tenphong)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    string paraGioChieu = item.giochieu.ToString(@"hh\:mm");
    string paraGioKetThuc = item.gioketthuc.ToString(@"hh\:mm");
    
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.giochieu):@Html.DisplayFor(modelItem => item.giochieu.Minutes)*@
            @Html.DisplayFor(modelItem => paraGioChieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => paraGioKetThuc)@*:@Html.DisplayFor(modelItem => item.gioketthuc.Minutes)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaychieu.Day)-@Html.DisplayFor(modelItem => item.ngaychieu.Month)-@Html.DisplayFor(modelItem => item.ngaychieu.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soghecontrong)
        </td>
        <td>
       l     @Html.DisplayFor(modelItem => item.PhongChieu.tenphong)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.masuatchieu }, new { @class = "fa fa-edit option" }) |
            @Html.ActionLink(" ", "Details", new { id = item.masuatchieu}, new { @class = "fa fa-info-circle option" }) @*|
            @Html.ActionLink("Delete", "Delete", new { id = item.maphim })*@
        </td>
    </tr>
}

</table>
