@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<div class="reviews-section">
    @{  var item = ViewData["ChiTietPhim"] as MovieTicket.Models.Phim;
        string theloai = ViewData["TheLoai"].ToString();}
  
    <h3 class="head">@item.tenphim</h3>
    <div class="col-md-9 reviews-grids">
        <div class="review">
            <div class="movie-pic">
                               
                <a href="single.html"><img src="@item.hinh" alt="" /></a>
            </div>
            <div class="review-info">
                @*<p class="dirctr"><a href="">Reagan Gavin Rasquinha, </a>TNN, Mar 12, 2015, 12.47PM IST</p>*@
                <div class="clearfix"></div>
                <p class="info">Đạo diễn: &#9; @item.daodien</p>
                <p class="info">Thể loại: &#9; @theloai</p>
                <p class="info">Độ dài: &#9; @item.thoiluong phút</p>
                <p class="info">Mô tả: &#9; @item.mota</p>
            </div>

            
            <div class="clearfix"></div>
        </div>
        @{
       
            var sc = ViewData["SuatChieu"] as List<MovieTicket.Models.SuatChieu>;
            <div class="single">
                <h3 class="head">Lịch chiếu</h3>
                @foreach(var s in sc)
                {
                    <p>@Html.DisplayFor(modelItem => s.ngaychieu.Day)-@Html.DisplayFor(modelItem => s.ngaychieu.Month)-@Html.DisplayFor(modelItem => s.ngaychieu.Year)</p>
                    foreach (var c in sc)
                    {
                        <p>
                            @if (c.ngaychieu == s.ngaychieu)
                            {
                                <a href="#" class="lichchieu"> @c.giochieu.ToString(@"hh\:mm")</a>

                            }
                        </p>
                    }

                }
            </div>
        }
        
    </div>

    <div class="clearfix"></div>
</div>


