

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách phim</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    
    <!-- Custom Theme files -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <!-- Custom Theme files -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body>

    <div class="full">
        <div class="menu">
            <ul>
                <li><a href="~/Home/Index"><div class="hm"><i class="home1"></i><i class="home2"></i></div></a></li>
                <li><a href="~/Videos/Index" class="active"><div class="video"><i class="videos"></i><i class="videos1"></i></div></a></li>
                @*<li><a href="reviews.html"><div class="cat"><i class="watching"></i><i class="watching1"></i></div></a></li>
                <li><a href="404.html"><div class="bk"><i class="booking"></i><i class="booking1"></i></div></a></li>
                <li><a href="contact.html"><div class="cnt"><i class="contact"></i><i class="contact1"></i></div></a></li>*@
            </ul>
        </div>
        <div class="main">
            <div class="single-content">
                <div class="top-header span_top">
                    <div class="logo">
                        <a href="index.html"><img src="~/images/logo.png" /></a>
                        <p>Movie Theater</p>
                    </div>
                    <div class="login_logout">
                        <a href="~/Account/Login">Đăng nhập</a>
                        <a href="~/Account/Register">Đăng ký</a>
                    </div>
                    <div class="clearfix"></div>

                </div>
                @RenderBody()
                <div class="clearfix"></div>
                <div class="footer">
                    <h6>Disclaimer : </h6>
                    <p class="claim">This is a freebies and not an official website, I have no intention of disclose any movie, brand, news.My goal here is to train or excercise my skill and share this freebies.</p>
                    <a href="example@mail.com">example@mail.com</a>
                    <div class="copyright">
                        <p> Template by  <a href="http://w3layouts.com">  W3layouts</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
