@model IEnumerable<MovieTicket.Models.Phim>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <!-- Custom Theme files -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <!-- Custom Theme files -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body>
    <div class="full">
        <div class="menu">
            <ul>
                <li><a href="~/Home/Index" class="active"><div class="hm"><i class="home1"></i><i class="home2"></i></div></a></li>
                <li><a href="~/Videos/Index"><div class="video"><i class="videos"></i><i class="videos1"></i></div></a></li>
                @*<li><a href="#"><div class="cat"><i class="watching"></i><i class="watching1"></i></div></a></li>
                <li><a href="#"><div class="bk"><i class="booking"></i><i class="booking1"></i></div></a></li>
                <li><a href="#"><div class="cnt"><i class="contact"></i><i class="contact1"></i></div></a></li>*@
            </ul>
        </div>
        <div class="main">
            <div class="header" style="background: url('../images/header-bg1.jpg') no-repeat 0px 0px;">
                <div class="top-header ali">
                    <div class="logo">
                        <a href="index.html"><img src="~/images/logo.png" alt="" /></a>
                        <p>Movie Theater</p>
                    </div>
                    <div class="search">
                        <form action="~/Videos/Index">
                            <input name="searchString" id="searchString" type="text"  autocomplete = "off" placeholder = "Tìm phim..." />
                            
                            <input type="submit" value="">
                        </form>
                    </div>
                    <div class="login_logout">
                        <a href="~/Account/Login">Đăng nhập</a>
                        <a href="~/Account/Register">Đăng ký</a>
                    </div>
                    <div class="clearfix"></div>

                </div>
                <div class="header-info">
                    @{
                        var item = (Model as List<MovieTicket.Models.Phim>).Last();
                        <h1>@Html.DisplayFor(modelItem => item.tenphim)</h1>
                        <p class="age"><a href="#">All Age</a>@Html.DisplayFor(modelItem => item.daodien)</p>
                        <p class="review">Rating	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;  8,5/10</p>
                        <p class="review reviewgo">Thể loại	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp; @Html.DisplayFor(modelItem => item.TheLoai)</p>
                        <p class="review">Ngày chiếu &nbsp;&nbsp;&nbsp;: &nbsp;&nbsp; @Html.DisplayFor(modelItem => item.ngaykhoichieu)</p>
                        <p class="special">@Html.DisplayFor(modelItem => item.mota)</p>
                        <a class="video" target="_blank" href="@Html.DisplayFor(modelItem => item.trailer)"><i class="video1"></i>WATCH TRAILER</a>

                        <a class="book" href="~/MovieInfo/Index/@item.maphim"><i class="book1"></i>BOOK TICKET</a>
                       
                    }
                    
                </div>
            </div>
            @RenderBody()
            <div class="footer">
                <h6>Disclaimer : </h6>
                <p class="claim">This is a freebies and not an official website, I have no intention of disclose any movie, brand, news.My goal here is to train or excercise my skill and share this freebies.</p>
                <a href="example@mail.com">example@mail.com</a>
                <div class="copyright">
                    <p> Template by  <a href="http://w3layouts.com">  W3layouts</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- pop-up-box -->
    <link href="~/Content/popuo-box.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.magnific-popup.js"></script>
    <script>
				$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
				});
				});
    </script>
    <!--//pop-up-box -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
